@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    117 MARKAM ROAD<br />
    sCARBOROUGH, ON 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    4167894564
</address>

<address>
    <strong>Take-out:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>