@{
    ViewBag.Title = "Home Page";
}
<div></div>
<div>
    <h1>Yummmy Tummmy</h1>
    <p class="lead">Welcome to our resturent</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="col-md-4">
    <h2>Contact Us</h2>
    <p>
        <a href="@Url.Action("Contact")">
            <img alt="Contact" src="~/Assets/Images/Contact_us.jpg" width="50" height="50"/>
        </a>
    </p>
    <p>
        <b>To get Some information.</b>
    </p>
    <p><a class="btn btn-default" href="http://localhost:8233/Home/Contact.cshtml">Learn more &raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>About us</h2>
    <p>
        <a href="@Url.Action("About")">
            <img alt="Image" src="~/Assets/Images/about-us.jpg" width="50" height="50" />
        </a>
    </p>
    <p>
        <b>We are serving Since 1998</b>
    </p>
    <p><a class="btn btn-default" href="@Url.Action("About")">Learn more &raquo;</a></p>
</div>
